*{
    margin: 0;
    padding: 0;
}

#userInput{
    text-align: center;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inputValue{
    width: 50%;
}